$white: #fff;
$black: #000;

$grey: #576574;
$light-grey: #c8d6e5;
$mediun-grey: #8395a7;
$dark-grey: #222f3e;

$green: #10ac84;

.card {
  border-radius: 0.5rem;
  align-items: center;
  justify-content: center;
  margin: 20px;
  min-width: 300px;
  padding: 20px 10px 20px;
}

.cardRadiant {
  background: #1b77f3;
}

.cardnotRadiant {
  background: #10ac84;
}

.bio {
  margin-left: auto;
  margin-right: auto;
  width: 300px;
}
